* {
    box-sizing: border-box;
}

html {

    overflow-y: scroll !important;
  
  }

  .modal-open {

  padding-right: 0 !important;

}

.nav {
    background-color: white;
    padding: 0px 16px;
}

.navbar-toggler {
    margin: 5px 0px;
    box-shadow: none !important;
}

.scroll {
    display: none;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand span {
    color: #0C5D51;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #023436;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #037971;
}

.active {
    color: #037971 !important;
}

.carousel {
    height: 633px;
    overflow: hidden;
}

.carousel-inner {
    height:100%;    
}

.carousel-item {
    height: 100%;
}

.carousel-img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    filter: contrast(80%);
}

.carousel-caption {
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    position: absolute;
    left: 7.33%;
    top: 55%;
    transform: translateY(-55%);
    height: 70%;
}


.carousel-img-1 {
    background-image: url(images/1-img-tbilisi.jpg);
    background-position: center center;
}

.carousel-img-2 {
    background-image: url(images/svaneti-9.jpg);
    background-position: center center;
}

.carousel-img-3 {
    background-image: url(images/3-image-gonio.jpg);
    background-position: center center;
}

.carousel-img-4 {
    background-image: url(images/4-image-tbilisi.jpg);
    background-position: center center;
}

.carousel-img-5 {
    background-image: url(images/gudauri-9.jpg);
    background-position: center center;
}

@-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(1, 1);
    }
    to {
      -webkit-transform: scale(1.3, 1.3);
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.3, 1.3);
    }
  }
  
  .carousel-img {
    -webkit-animation: zoom 25s;
    animation: zoom 25s;
  }

.carousel-caption h1 {
    text-transform: uppercase;
    padding-bottom: 15px;
    font-size: 20px;
    visibility: hidden;
    position: absolute;
    left: 0%;
    top:30%;
    animation-name: textanih;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes textanih {
    from {visibility: hidden; left: 0%;}
    to {visibility: visible; left: 5%;}
    
}

@media (max-width: 576px) {
    .carousel-caption h1 {
        font-size: 20px;
    }
}

.carousel-caption p {
    font-size: 18px;
    text-transform: uppercase;
    width: 63.3333333%;
    visibility: hidden;
    position: absolute;
    left: 0%;
    top: 50%;
    animation-name: textanip;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes textanip {
    from {visibility: hidden; left: 0%;}
    to {visibility: visible; left: 5%;}
    
}

@media (max-width: 1050px) {
    .carousel-caption p {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .carousel-caption p {
        font-size: 16px;
    }
}


.carousel-indicators .indicator {
    width: 5%;
  
}

.carousel-indicators .active {
    width: 33%;
    
}

.services-small-col {
    height: 333px;
    overflow: hidden;
}

.services-big-col {
    height: 433px;
    overflow: hidden;
}

.services-img {
    height: 333px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.card {
    border-radius: 0px;
}

.services-img-big {
    height: 433px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

@media (max-width:576px){
    .services-small-col {
        height: 450px;
    }
    
    .services-big-col {
        height: 650px;
    }
    
    .services-img {
        height: 225px;
    }
    
    .services-img-big {
        height: 325px;
    }
}

.card-body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 0;
}

.card-body h5 {
    text-transform: uppercase;
    letter-spacing: .03em;
    font-size: 18px;
}


.btn-2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    border-radius: 0%;
}


.btn-bg {
    background-color: rgb(62, 169, 161);
    border-color: rgb(62, 169, 161);
    color: white;
}

.btn-bg:hover {
    background-color: white !important;
    color: rgb(62, 169, 161);
}

/* CSS */
.button-52 {
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 6px 43px;
  outline: 0;
  border: 1px solid rgb(5, 88, 82);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: rgb(62, 169, 161);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

.btn-2:hover {
    background-color: rgb(62, 169, 161);
    border-color: rgb(62, 169, 161);
}

.card-service-p {
    color: #037971;
    text-transform: uppercase;
    font-size: 12px;
}

.card-text {
    color: #000000;
    font-size: 16px;
}

.card-text-lg {
    color: black;
    font-size: 16px;
}



.footer , .copyright {
    background-color: rgb(255, 255, 255) ;
    color: rgb(62, 169, 161);
}

.benefits-container {
    height: 500px;
    position: relative;
}

.benefits {
    background-image: url(images/tbilisi-5.jpg);
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100%; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-2; /* needed to keep in the background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    filter: brightness(130%);
    opacity: 0.4;
}

.benefits-text {
   text-align: center;
   width: 83%;
}

.benefits-text h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#000000;
    text-transform: uppercase;
    line-height: 33.333px;
    font-weight: bold;
    margin: 0;
}

.col-img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.col-img-1 {
    background-image: url(images/athletes-226546.png);
}

.col-img-2 {
    background-image: url(images/pngegg.png);
}

.col-img-3 {
    background-image: url(images/tbc.jpg);
}

.col-img-4 {
    background-image: url(images/Nova_Logo_Red_transparent_Background.png);
}

.col-img-5 {
    background-image: url(images/gopro-825822.png);
}

.social {
    color: #037971;
    font-size: 20px;
    padding-right: 6px;
}

@media (max-width:768px) and (min-width:362px) {
    .logo-div {
        margin: auto;
    }
}

.footer ul {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.footer ul li a , .footer ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: #037971;
    text-decoration: none;
}

.footer ul li a:hover , .footer ul li:hover {
    color: #03b5aa;
}

.bi:hover {
    color: #03b5aa;
}

.l-container {
    padding-left: 40px;
    padding-right: 40px;
}

.book-header {
    background-image: url(images/book-11.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 200px 0px !important;
}

.btn-book {
    background-color:rgb(62, 169, 161);
    border-color: rgb(62, 169, 161);
    text-transform: uppercase;
} 


@media only screen and (max-width: 890px) {
    .book-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .book-form {
        width: 80% !important;
    }

    .book-header {
        padding: 100px 0px !important;
    }
}

.book-form {
    background-color: rgba(255, 255, 255, 0.57);
    padding: 20px 25px;
    margin: 10px;
    width: 33.3333%;
}

.form-select option {
    text-transform: uppercase;
}

.header {
    height: 343px;
}

.about-header {
    background-image: url(images/event-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height:100%; /* fix for mobile browser address bar appearing disappearing */
    z-index:-2; /* needed to keep in the background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    filter: grayscale(100%);
}

.price , .terms a {
    color: #037971;
    font-weight: 600;
    text-decoration: none;
}

.price:hover , .terms a:hover {
    color: green;
}

.terms a {
    font-size: 16px;
}


input[type="text"]:focus,
input[type="checkbox"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
.form-select:focus {   
  border-color: rgba(19, 170, 160, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(19, 170, 160, 0.6);
  outline: 0 none;
}

input[type="checkbox"]:checked {
    background-color: rgb(19, 170, 160);
    border-color: rgb(19, 170, 160);
}

.iti {
    width: 100%;
}

.iti__country-list {
   left: -8%;
}

.iti__country-name {
    word-wrap: break-word;
}

.card-title {
    text-transform: uppercase;
}

.card-img-top {
    height: 253px;
}

#pages div {
    font-family: Arial, Helvetica, sans-serif;
}

.contact-map-row i {
    font-size: 16px;
}

.contact-map-row .card a {
    color: rgb(19, 170, 160);
    font-weight: 600;
}

.contact-map-row .card a:hover {
    color: green;
}

.about-img-1 , .about-img-2 {
    background-size: cover;
    height: 600px;
}

.about-img-1 {
    background-image: url(images/about-3.jpg);
    background-position: center right;
}

.about-img-2 {
    background-image: url(images/team-22.jpg);
    background-position: center center;
}