* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: white;
    padding: 0px 15px;
}

.navbar-toggler {
    margin: 5px 0px;
    box-shadow: none !important;
}

.navbar-brand {
    margin: 0 10px 0 0;
}

.navbar-brand span {
    color: #0C5D51;
    font-size: 14px;
}

.nav-link {
    font-size: 14px;
    color: #023436;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-link:hover, .active , .price , .bookCost, .terms a, .footer ul li a,
.footer ul li {
    color: #037971 !important;
}

.flags_div {
    margin-right: auto;
    padding: 0px 15px;
}

.flags_div button {
    padding: 0px 1px;
    border: 1px solid gainsboro;
    background-color: white;
}

.flags_div button:hover {
    color: forestgreen;
}

.flag {
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.carousel {
    height: 90vh;
}

.carousel-indicators {
    width: 50%;
    margin: auto;
}

.carousel-indicators button {
    width: 5%;
}

.carousel-indicators .active {
    width: 33%;
}

.carousel-inner {
    height: 100%;
    background-color: white;
}

.carousel-item {
    height: 100%;
}

.carousel-caption {
    height: 70%;
    position: absolute;
    left: 9.33%;
    top: 50%;
    transform: translateY(-50%);
    text-align: start;
}

.carousel-caption h1,
.carousel-caption p {
    position: absolute;
    opacity: 0;
    transform: translateY(-20px);
    animation: drop-in 0.8s ease-out forwards;
    text-transform: uppercase;
}

.carousel-caption h1 {
    top: 35%;
    font-size: 20px;
    animation-delay: 0.3s;
}

.carousel-caption p {
    top: 50%;
    width: 63.3333333%;
    font-size: 18px;
    animation-delay: 0.6s;
}

@media (max-width: 1050px) {
    .carousel-caption p {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .carousel-caption p {
        font-size: 16px;
    }
}

@keyframes zoom {
    from {
        -webkit-transform: scale(1, 1);
    }

    to {
        -webkit-transform: scale(1.3, 1.3);
    }
}

.data-tran-geo {
    font-size: 23px;
}

@keyframes drop-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    height: auto;
}

.card {
    border: none;
    border-radius: 0px;
    padding: 0px;
}

.card-body {
    position: relative;
    z-index: 0;
}

.card-body h2 {
    text-transform: uppercase;
    letter-spacing: .03em;
    font-size: 18px;
    padding: 15px 0px;
}

.card-body p {
    font-size: 15.7px;
}

.card-body button {
    padding: 6px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    border-radius: 0%;
    background-color: #317F79;
    border-color: #317F79;
    color: white;
}

.card-body button:hover, .footer, .copy , .email-text {
    color: #317F79;
}

.card-body button:hover {
    background-color: white;
    border-color: #317F79;
}

.card-title {
    text-transform: uppercase;
}

.card-img-top {
    height: auto;
}

.services-small-col, .services-img  {
    height: 383px;
}

.services-big-col, .services-img-big {
    height: 483px;
}

.services-small-col h2, .services-big-col h2 {
    font-weight: 500;
}

.services-img, .services-img-big  {
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

@media (max-width:575px) {
    .services-small-col, .services-big-col {
        height: auto;
    }
}

.footer {
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.footer ul {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.footer ul li a,
.footer ul li {
    text-decoration: none;
    font-weight: 500;
}

.footer-nav-ul a:hover,.footer-nav-ul:hover, .bi:hover, .map-li:hover, .map-li a:hover {
    color: #03b5aa !important;
}

.fa-icon {
    fill: #037971 !important;
}

.fa-icon:hover, .map-li:hover .fa-icon {
    fill: #03b5aa !important;
}

@media (max-width: 700px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding:0 !important;
    }
}

.copy , .email-text {
    text-transform: none;
    text-decoration: none;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logo-div img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.social {
    font-size: 20px;
    padding-right: 6px;
}

.bi-facebook {
    color: #0866FF;
}

.bi-whatsapp {
    color: #037971;
}

.bi-instagram {
    color: #d6249f;
    color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.bi-telegram {
    color: #2481CC;
}

.bi-snapchat {
    color: black;
    background-color: yellow;
    padding-right: 0;
    border-radius: 50%;
}

.bi-snapchat:hover {
    color: white !important;
    background-color: #03b5aa;
}

.video-div {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 500px;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.about-text p {
    font-size: 20px;
}

.about-img-1, .about-img-2, .about-img-3, .about-img-4 {
    background-size: cover;
    height: 600px;
    margin: 0;
    padding: 0;
}

.about-img-1 {
    background-image: url(images/fb-team1.jpg);
}

.about-img-2 {
    background-image: url(images/fb-team2.jpg);
}

.about-img-3 {
    background-image: url(images/fb-team3.jpg);
}

.about-img-4 {
    background-image: url(images/fb-team5.jpg);
    background-position: center 40%;
}

@media (max-width: 800px) {
    images-flex {
        flex-wrap:wrap;
    }

    images-flex img {
        margin: 0;
        padding: 0;
    }
}

/* SWIPER SECTION */
.swiper {
    width: 100%;
    height: 300px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.image {
    width: 270px;
    height: 0;
    opacity: 0;
    transition: height 3s ease-out, opacity 3s ease-out;
}

#image1.reveal {
    height: auto;
    opacity: 1;
}

#book-main {
    background-image: url(images/Book\ Paragliding.webp);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 553px;
    margin-top: 40px;
}

.book-header {
    width: 100%;
    height: 100%;
}

.book-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-form {
    background-color: rgba(255, 255, 255, 0.57);
    padding: 20px 25px;
    margin: 10px;
    width: 30%;
}

@media (max-width: 1245px) { .book-form { width: 35% !important; } }
@media (max-width: 1070px) { #book-main { height: 550px; } .book-form { width: 40% !important; } }
@media (max-width: 925px) { .book-form { width: 45% !important; } }
@media (max-width: 845px) { .book-form { width: 50% !important; } }
@media (max-width: 750px) { .book-form { width: 60% !important; } }
@media (max-width: 650px) { .book-form { width: 100% !important; } }

.btn-book {
    background-color: rgb(62, 169, 161);
    border-color: rgb(62, 169, 161);
    text-transform: uppercase;
    width: 50% !important;
}

.form-select option {
    text-transform: uppercase;
}

.terms a {
    font-weight: 600;
    text-decoration: none;
}

.terms a:hover {
    color: green;
}

.terms a {
    font-size: 16px;
}

input[type="text"]:focus,
input[type="checkbox"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
.form-select:focus {
    border-color: rgba(19, 170, 160, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(19, 170, 160, 0.6);
    outline: 0 none;
}

input[type="checkbox"]:checked {
    background-color: rgb(19, 170, 160);
    border-color: rgb(19, 170, 160);
}

.iti {
    width: 100%;
    position: relative;
    top: -5px;
}

.iti__selected-flag {
    top: 8px;
    height: 33px !important;
    border-radius: 4px;
    transition: .3s;
}

input#phone {
    padding-left: 89px !important;
    top: 6px;
    visibility: visible !important;
} 

.intl-tel-input {
  z-index: 99;
  width: 100%;
}

.iti-flag {
  box-shadow: none;
}

.intl-tel-input .selected-flag:focus {
  outline: none;
}

.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background-color: rgba(0, 0, 0, 0.05);
}  

.iti__country-list {
    border-radius: 4px !important;
    z-index: 1 !important;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 8%) !important;
    border: 1px solid #ececec !important;
    width: 270px !important;
}

#successModalLabel {
    color:#198754 !important;
}